

{% extends 'base.html' %}

{% block title %}Register a VM{% endblock %}



 





{% block body %}

    <h3><u> <span style="color: #00008B;">Register a VM</span></u></h3>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form  method="post" action="/create/createVDI" id="formCreate">

   <script>
function enableTextbox() {
  var options = document.getElementById("InstallationType");
  var returndate = document.getElementById("returndate");
   var returnreason = document.getElementById("returnreason");
  
  if (options.value === "Returned") {
    returndate.disabled = false;
	returnreason.disabled = false;
  } else {
    returndate.disabled = true;
	returnreason.disabled = true;
  }
}
  </script>
   
<input type='hidden' name='username' value='{{current_user.name}}'/>
		 

	
			
<fieldset>
    
	<legend><span style="color: #00008B;"><i>Virtual machine details</i></span></legend>


	<div class="form-group row">
 <div class="col-xs-3">	 
		 
		 <div class="form-group">
             <label for="ICNo">Virtual machine Username</label>
            <input type="text "id="ICNo" name="vmname"   autofocus  value="{{user.vmname }}" required class="form-control"/>
        </div>
		 
		 </div>
			
		 
		
		  <div class="col-xs-3">	 
		 
		 <div class="form-group">
            <label for="VMIP">Virtual machine IP address</label>
            <input id="VMIP" name="VMIP"   autofocus  value="{{user.VMIP }}" required class="form-control"/>
        </div>
		 
		 </div>
		 
		  <div class="col-xs-3">
		  
		   <div class="form-group">
             <label for="OperatingSys">OperatingSys</label>
              <select id="OperatingSys" required name="OperatingSys" placeholder="Select">
   
  <option value="Windows">Windows</option>
  <option value="CentOS">CentOS</option>
  <option value="Ubuntu">Ubuntu</option>
 </select>
	   </div>
		  
		  
		   </div> 
		<div class="col-xs-3">	 
		 
		 <div class="form-group">
             <label for="category">Category of VM</label>
              <select id="category" required name="category" placeholder="Select">
   
  <option value="Individual">Individual</option>
  <option value="Lab">Lab</option>
  <option value="Common">Common</option>
   <option value="Multi User">Multi User</option>
 </select>
	   </div>
		 
		 </div>
		 
		
		 
		 
		 
		 
		 </div>
		 
	</fieldset>	 	 
		 
		 
		 
	<fieldset>
    <legend><span style="color: #00008B;"><i>Thin Client details</i></legend>
	<div class="form-group row">
 <div class="col-xs-4">	 
		 
		 <div class="form-group">
             <label for="ThinClientSlNo">Thin client serial number</label>
            <input type="text "id="ThinClientSlNo" name="ThinClientSlNo"   autofocus  value="{{user.ThinClientSlNo }}" required class="form-control"/>
        </div>
		 
		 </div>
			
		 
		
		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="ThinClientIP">Thin Client IP address</label>
            <input id="ThinClientIP" name="ThinClientIP"   autofocus  value="{{user.ThinClientIP }}" required class="form-control"/>
        </div>
		 
		 </div>
		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
             <label for="ThinClientMACID">Thin client MAC address</label>
            <input type="text "id="ThinClientMACID" name="ThinClientMACID"   autofocus  value="{{user.ThinClientMACID }}" required class="form-control"/>
        </div>
		 
		 </div>
		 
		 </div>
		 
		 <div class="form-group row">
 <div class="col-xs-6">	 
		 
		 <div class="form-group">
             <label for="KBMSMONProvided">Accessories Provided(Keyboard/Monitor/Mouse)</label>
              <select id="KBMSMONProvided" required name="KBMSMONProvided" placeholder="Select">
  <option value="NO">NO</option>
  <option value="MON">Monitor Only</option>
  <option value="KB/MS">Keyboard and Mouse</option>
  <option value="KB/MS/MON">Keyboard,Mouse and Monitor</option>
 </select>
	   </div>
		 
		 </div>
			
		 
		
		  <div class="col-xs-6">	 
		 
		 <div class="form-group">
            <label for="MonitorSlNo">Monitor Serial No.</label>
            <input id="MonitorSlNo" name="MonitorSlNo"   autofocus  value="{{user.MonitorSlNo}}"  class="form-control"/>
        </div>
		 
		 </div>
		 
		 
		 </div>
		 <div class="form-group row">
 <div class="col-xs-4">	 
		 
		 <div class="form-group">
             <label for="KeyboardSlNo">Keyboard Serial No.</label>
            <input type="text "id="KeyboardSlNo" name="KeyboardSlNo"   autofocus  value="{{user.KeyboardSlNo }}"  class="form-control"/>
        </div>
		 
		 </div>
			
		 		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="MouseSlNo">Mouse Serial No.</label>
            <input id="MouseSlNo" name="MouseSlNo"   autofocus  value="{{user.MouseSlNo }}"  class="form-control"/>
        </div>
		 
		 </div>
		
		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="ExistingMonitor">Existing Monitor Details</label>
            <input id="ExistingMonitor" name="ExistingMonitor"   autofocus  value="{{user.ExistingMonitor }}"  class="form-control"/>
        </div>
		 
		 </div>
		 
		 
		 </div>
	 <div class="form-group row">
<!--  <div class="col-xs-4">	 
 
		 	<div class="form-group">
            <label for="TCStatus"> Thin Client Current Status                              </label>

		<select id="TCStatus" name="TCStatus" placeholder="Select TC status" required>
  <option value="NewlyAssigned">TC Newly Assigned</option>
  <option value="Returned">TC Returned</option>
  <option value="Reassigned">TC Reassigned</option>
  <option value="Faulty">TC Faulty</option>
  
</select>
		</div>
	
		
		 
		 </div> -->
			
		 		<!--   <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="TCReturnStatus">TC Deployment Status</label>
            <select id="TCReturnStatus" name="TCReturnStatus" placeholder="Select TC Deployment status" required>
  <option value="Temporary">TC Temporary Assigned</option>
  <option value="Permanent">TC Permanently Assigned</option>
   
</select>   </div>
		 
		 </div> -->
		
		 <!--  <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="TCReturnDate">TC Return Date if temporarily assigned</label>
            <input id="TCReturnDate" type="date" name="TCReturnDate"   autofocus  value="{{user.TCReturnDate }}"  class="form-control"/>
        </div>
		 
		 </div>
		  -->
		 
		 </div>
		   
		 
		 
		 
	</fieldset>	 	 
		 
		 
		 
		 
	
			
<fieldset>
    <legend><span style="color: #00008B;"><i>User details</i></legend>
	<div class="form-group row">
 <div class="col-xs-6">	 
		 
		 <div class="form-group">
             <label for="AssignedPersonName">Assigned Person Name</label>
            <input type="text "id="AssignedPersonName" name="AssignedPersonName"   autofocus  value="{{user.AssignedPersonName }}" required class="form-control"/>
        </div>
		 
		 </div>
			
		 
		
		  <div class="col-xs-6">	 
		 <div class="form-group">
            <label for="EMail">Mail ID</label>
            <input id="EMail" type ="email" name="EMail"   autofocus  value="{{user.EMail }}"  class="form-control"/>
        </div>
		 
		 
		 </div>
		 
		 
		 </div>
		 
		 
		 <div class="form-group row">
		  <div class="col-xs-3">	 
		 
		 <div class="form-group">
             <label for="ICNo">IC No</label>
            <input  type ="number" id="ICNo" name="ICNo"   autofocus  value="{{user.ICNo }}"  class="form-control"/>
        </div>
		 
		 </div>
			
		 
 <div class="col-xs-3">	 
		 
		 <div class="form-group">
             <label for="ContactNo">Phone number</label>
            <input  type ="number" id="ContactNo" name="ContactNo"   autofocus  value="{{user.ContactNo }}"  class="form-control"/>
        </div>
		 
		 </div>
			
		 
		
		  <div class="col-xs-3">	 
		 
		 <div class="form-group">
            <label for="section">Section</label>
            <input id="section" name="section"   autofocus  value="{{user.section }}" required class="form-control"/>
        </div>
		 
		 </div>
		 <div class="col-xs-3">	 
		 
		 <div class="form-group">
            <label for="division">Division</label>
            <input id="division" name="division"   autofocus  value="{{user.division }}" required class="form-control"/>
        </div>
		 
		 </div>
		 <div class="col-xs-3">	 
		 
		 <div class="form-group">
            <label for="grp">Group</label>
            <input id="grp" name="grp"   autofocus  value="{{user.grp }}" required class="form-control"/>
        </div>
		 
		 </div>
		  <div class="col-xs-3">	 
		 
		 <div class="form-group">
            <label for="CoordID">CoordID</label>
            <input type ="number" id="CoordID" name="CoordID"   autofocus  value="{{user.CoordID }}"  class="form-control"/>
        </div>
		 
		 </div>
		 
		 
		 </div>
		 
	</fieldset>	 	 
		 		 
		 
			
<fieldset>
    <legend><span style="color: #00008B;"><i>Installation Details</i></legend>
	<div class="form-group row">
 <div class="col-xs-4">	 
		 
		 <div class="form-group">
             <label for="installedby">Installed By</label>
            <input type="text" id="installedby" name="InstalledBy"   autofocus  value="{{user.InstalledBy }}"  class="form-control"/>
        </div>
		 
		 </div>
			
		 
		
		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="installdate">Installed Date</label>
            <input type="date" id="installdate" name="AssignedDate"   autofocus  value="{{user.AssignedDate }}" required class="form-control"/>
        </div>
		 
		 </div>
		 
		 
		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
		 
		 
		 <label for="oldpcstatus">OLD P4 PC  Status </label>
            <input   type="text" id="oldpcstatus" name="oldpcstatus"   autofocus  value="{{user.oldpcstatus }}"  class="form-control"/>
			
			
			
           
			
          <!--   <input type="text" id="InstallationType" name="InstallationType"   autofocus  value="{{user.InstallationType }}" required class="form-control"/>
        --> </div>
		  </div>
		 </div>
		 
		 	<div class="form-group row">
		  <div class="col-xs-4">	 
		 
		 <div class="form-group">
            <label for="InstallationType">Installation Type</label>
			<select id="InstallationType" name="InstallationType" placeholder="Select Installation Type" onchange="enableTextbox()" required>
  <option value="NewlyAssigned">TC Newly Assigned</option>
  <option value="Returned">TC Returned</option>
   <option value="Returned and Reallocated">TC Returned & Reallocated</option>
  <option value="Reassigned">TC Reassigned</option>
  <option value="Faulty">TC Faulty</option>
  
</select>
		</div>
		 

		 </div>	
	 <div class="col-xs-4">	 
		 
		 <div class="form-group">
		 
<label for="returndate">Return Date</label>
<input type="date" id="returndate" name="returndate" disabled autofocus  value="{{user.returndate }}"  class="form-control">    </div>
		 
		 </div>
		
 <div class="col-xs-4">	 
		 
		 <div class="form-group">
		 
<label for="returnreason">Reason for Return</label>
<select id="returnreason" name="returnreason" placeholder="Select Installation Type"  disabled  >
  <option value="Transfer">Transfer</option>
  <option value="Superannuation">Superannuation</option>
   <option value="Unused">Unused</option>
  <option value="Others">Others</option>
   
  
</select>
   </div>
		 
		 </div>
		

		 </div>
		 	 
		  
		<div class="form-group">
            <label for="Remarks">Remarks</label>
       <!--      
			 <input id="desc" name="remarks1"      autofocus placeholder="{{ editt.remarks}}" required class="form-control"/> -->
			  <textarea rows="4" cols="50" id="Remarks" name="Remarks"  placeholder="{{ user.Remarks}}" autofocus     class="form-control">
</textarea> 
		</div>
	
			
		 
		 </fieldset>
		 
		  
		 <input type='hidden' name='remarks' value='{{editt.remarks}}'/>
       
		  

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
<br>
{% endblock %}
