{% extends 'base.html' %}

{% block title %}Inactive User details{% endblock %}

{% block body %}
<body>
    <!-- Add some space above the table -->
    <div style="margin-top: 20px;"></div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables CSS and JS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Table structure -->
    <div id="printableTable">    
        <table id="userTable" class="display">
            <thead>    
                <tr>
                    <th>Account Name</th>
                    <th>Name</th>
                    <th>Enabled</th>
                    <th>logonCount</th>
                    <th>LastLogon</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.AccountName }}</td>
                    <td>{{ user.Name }}</td>
                    <td>{{ user.Enabled }}</td>
                    <td>{{ user.logonCount }}</td>
                    <td>{{ user.LastLogon }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add a print button -->
    <button id="printButton">Print Table</button>

    <!-- Initialize DataTables -->
    <script>
        $(document).ready(function() {
            $('#userTable').DataTable();

            // Add click event for the print button
            $('#printButton').click(function() {
                window.print(); // Open the browser's print dialog
            });
        });
    </script>

    <!-- CSS for Print Styles -->
    <style type="text/css">
        @media print {
            /* Define print styles here */
            /* For example, you can hide the button when printing */
            #printButton {
                display: none;
            }
        }
    </style>
</body>
{% endblock %}
